.footer{
    color: beige;
    background-color: black;
}

.section-news li {
    padding: 10px;
}

.news-content .section-hot li:hover {
    background-color: red;
}

.news-content .section-realty li:hover {
    background-color: rgb(70, 70, 161);
}

.news-content .section-realty .footer {
    color: rgb(202, 255, 127);

}

.news-content .section-news .footer {
    color: rgb(255, 127, 204);

}
.news-content .section-news .footer{
    background-color: white;
}

.news-content .section-news li:hover a {
    color: white;
}

.news-content .section-news h2 {
    color: white;
    padding: 10px;
}

.news-content .section-hot h2 {
    background-color: blueviolet;
}

.news-content .section-realty h2 {
    background-color: brown;
}